# Sistema operativo
.DS_Store
Thumbs.db

# VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Logs y temporales
*.log
*.tmp
*.bak

# Artefactos locales de Power BI (si existen)
.pbi/
.pbi.local/

# Secretos
.env
.env.*
*.key
*.pfx
*.pem
